.resources__logo {
  cursor: pointer;
  width: 270px;
  height: 38px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  transition: opacity .4s ease-in;
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
}

.resources__logo:hover {
  opacity: .5;
}